/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: OCR A Std, monospace;
    background: #848FA5;
}

/*LAYOUT*/

#area-cabecalho {
    background: #023e8a;
    padding: 8px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}

#team{
    color: #1c1c1c;
    font-family: monospace;
}

#malva{
    color: white;
    font-family: fantasy;
}

#area-principal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}
#area-postagens, #area-lateral{
    background: #0954b6;
    color: white;
}
#area-postagens {
    width: 660px;
    float: left;
}
#area-lateral {
    width: 240px;
    float: right;
}
.conteudo-lateral{
    background: #0954b6;
    padding: 10px;
    margin-bottom: 15px;
}
.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: #0954b6;
    text-align: left;
}

.quem-somos{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    display: block;
}
.img-somos{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    display: block
}
#rodape {
    background: #ccc;
    clear: both;
    text-align: center;
    padding: 15px;
}
/*formatação gerais*/

h2{
    color: white;
}
h3{
    
    background: #848FA5;
    padding: 5px;
}
.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.texto-lateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid black;

}
.texto-recente{
    color: white;
    padding: 5px;
    text-decoration: underline;
}

/*formatação do menu*/

a{
    text-decoration: none;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
    color: #fff;
    padding: 8px 12px;
}

#area-cabecalho a:hover{
    color: #023e8a;
    background: white;
}